@import "../../pages/styles/variables.scss";
.collapse-bar {
  width: 100%;
  max-width: 640px;
  margin: 0;

  @media only screen and (max-width: 775px) {
    width: 100%;
    margin: auto;
  }
  &_title {
    max-width: 1024px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    border-bottom: dotted 2px;
    margin: 33px auto 15px auto;
    z-index: 2;
    cursor: pointer;

    h3 {
      position: absolute;
      margin-bottom: 0;
      left: 10px;
      bottom: 5px;
      text-align: left;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 20px;

      @media only screen and (max-width: 775px) {
        font-size: 15px;
        bottom: -3px;
      }
    }
    .to-toggle-collapse {
      position: absolute;
      right: 12px;
      bottom: 5px;

      .rotate {
        transform: rotate(180deg);
      }
    }
  }

  .icon-collapse {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.2));

    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  &_text {
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    height: 0px;
    max-width: 1000px;
    margin: -27px auto 0 auto;
    opacity: 0;
    transition: all 0.25s ease-out;
    transform: translateY(-5px);
    background-color: rgb(235, 235, 235);
    border-bottom: solid 1px;
    border-radius: 3px;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    color:#333;
 @media only screen and (max-width: 775px) {
        font-size: 14px;
        bottom: 5px;
      }
    &.show-text {
      padding: 18px 10px 10px 10px;
      transform: translateY(11px);
      height: auto;
      opacity: 1;
    }
  }
}
