
.main-content{
    width: 90%;
    max-width: 1240px;
    margin: 220px auto;
    @media only screen and (max-width: 575px) {
      margin: 110px auto;
    }
    h2{
    margin:20px auto 8px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 300;
    @media only screen and (max-width: 575px) {
      font-size: 18px;
    }
    }
    .quote-about{
        border-top: solid grey 1px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      @media only screen and (max-width: 575px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
 p{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  @media only screen and (max-width: 575px) {
    font-size: 14px;
  }
 }   

.cv {
   
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
    align-items: center;
    align-content: center;
  a{
    text-decoration: none;
    position: relative;
    color: #fff;
  }
    button {
      display: flex;
        text-transform: lowercase;
        font-family: "Montserrat";
        align-items: center;
        align-content: center;
        height: 33px;
        min-height: 23px;
        min-width: 195px;
     font-weight: 300;
      color: #fff; 
      border: none; 
      border-radius: 5px;
      padding: 10px 20px; 
  margin-left: 4px;
      font-size: 16px; 
      background: linear-gradient(90deg, rgba(191,133,99, 1) 0%, rgba(114,2,2, 1) 100%);
      cursor: pointer; // Curseur en main au survol
  
      // Styles pour les flèches et les lettres CV
      span.letters-cv {
        font-size: 18px;
        text-transform: lowercase;
        font-weight: 700;
        text-transform: uppercase;
      }

      &:hover {
        background-color: #0056b3;
      }
    }
 }
.cv a::before {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -1px;
  width: 11%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-out;
}

.cv a:hover::before {
  width: 103%;
}
 

.button{
    font-family: "Montserrat", sans-serif;
}
.skills-container{
    display: flex;
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-between;
 
    
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    cursor: pointer;
    filter: saturate(0);
    transition: .3s;
    // filter: drop-shadow(1px 2px 3px rgb(255, 255, 255));
    
    &:hover{
        opacity: 1;
        filter: saturate(1);
        // filter: drop-shadow(1px 2px 12px rgb(255, 255, 255));
    }
}
    .one-skill{
        margin: auto;
       width: 100%;
       max-width: 100px;
       font-family: 'Montserrat';
       font-size: 13px;
       text-align: center;
       @media only screen and (max-width: 775px) {
        font-size: 10px;
        max-width: 88px;
      }
      @media only screen and (max-width: 775px) {
        max-width: 70px;
      }
      p{
        margin: 16px auto 2px auto;
        font-size: 13px;
        @media only screen and (max-width: 775px) {
          font-size: 10px;  
        }
      }
    }
 

    .text-skills-collapse{
    font-family: 'Montserrat';;
      text-align: left;
      margin:11px auto auto 0px;
      @media only screen and (max-width: 775px) {
         margin: 15px 40% 0px 0px;
     
      }
      h4{
        color:#777;
        font-size:19px ;
        margin:12px auto;
        @media only screen and (max-width: 775px) {
          font-size: 14px;
        }
      }
    }

    ul {
      font-size: 16px;
      @media only screen and (max-width: 775px) {
        font-size: 13px;
      }
      span.colored{
        color:#F2B366;
      }
    }
}
}