@font-face {
    font-family: 'Free';
    src: url('../../assets/Variable/Free-variable.ttf')  format('truetype');
    font-weight: 100 800; /* Gamme de graisses disponibles */
    font-stretch: 100 800; /* Gamme de largeurs disponibles */
}

  @keyframes bubblin {
    0% {
    //   transform: rotate(0deg);
      border-radius: 38% 62% 70% 30% / 30% 30% 70% 70%;
    }
    20% {
        border-radius: 39% 61% 41% 59% / 34% 50% 50% 56% ;
    }
    40% { 
        border-radius: 65% 35% 33% 67% / 38% 58% 42% 62% ;
      }
    60% {
        border-radius: 43% 57% 65% 35% / 64% 37% 63% 33% ;
      }
    80% {   
        border-radius: 35% 65% 28% 72% / 67% 31% 69% 55% ;
      }
    100% {
    //   transform: rotate(360deg);
      border-radius: 38% 62% 70% 30% / 30% 30% 70% 70%;
    }
  }

  @keyframes metamorph {
    0% {
        border-radius: 20% 60% 60% 40%/80% 30%
    }

    to {
        border-radius: 40% 60%
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}
.container{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;

}
h1{
    color: #730202;
    display: flex;
    margin:20px auto 30px 0;
    font-size: 70px;
    width: 50%;
    max-width: 1240px;
    // width:400px;
     text-align: left;
     justify-content:flex-start;
     align-items: flex-start;
     cursor: pointer;
     @media only screen and (max-width:940px){
        margin: 23px auto 100px 0;
        font-size: 45px;
    }
     @media only screen and (max-width:775px){
        margin: 23px auto 100px 0;
        font-size: 28px;
    }
}

.friendly-designer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    max-width: 1240px;
    height: 70vh;
    margin: 150px auto 0 auto;
    font-family: 'Free';
    font-size: 34px;
    text-align: left;
    position: relative;
    // overflow: hidden;
    @media only screen and (max-width:775px){
        margin: 100px auto 0 auto;
        font-size: 24px;
        justify-content: space-between;

    }
    a{
        transition: .5s;
        text-decoration: none;
        font-variation-settings: "wght" 600, "wdth" 100;
        cursor: pointer;
    }
}

.friendly-designer a:hover{
transition: 1s;
font-size: 36px;
 font-variation-settings: "wght" 700, "wdth" 600;/* Valeurs finales */
}


.ovale-anim3 {
    width: 80vmax;
    height: 70vmax;
    position: absolute;
    background:radial-gradient(
        circle at 93.3% 75%,
        rgba(242,182,4, 0.5),
        rgba(242,89,75, 0.6) 70.71%
      );

    background-color: #F2B366;
    background-repeat: repeat;

    left: 5vmin;
    top: 0vmin;
    animation: metamorph 13s linear infinite alternate,spin 33s linear infinite;
    z-index: 1;
   will-change: border-radius,transform;
    transform-origin: 50% 55%;
    opacity: .2;
    pointer-events: none;
    overflow: hidden;
        
}

.ovale-anim2 {
    width: 460px;
    height: 565px;
    background-color: #BF8563;
    position:absolute; 
    top:148px;
    right:10%;
    z-index: 2;
    opacity: .6;
    animation: bubblin 7s linear infinite;
    overflow: hidden;
}


  .ovale-anim {
    width: 100%;
    max-width: 450px;
    max-height: 560px;
    overflow: hidden; 
    position:absolute; 
    top:150px;
    right:10%;
    z-index: 3;
    animation: bubblin 8s linear infinite;
    cursor: pointer;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .5s;
        &:hover{
            transform: scale(1.2);
            box-shadow:  12px 12px 2px 1px rgba(0, 0, 255, .8);;
            filter: sepia(0.6);
           
        }
    }
  }
  @media only screen and (max-width: 940px) {
    .ovale-anim {
        top:160px;
        width: 280px;
        height: 340px;
    }
    .ovale-anim2 {
        top:160px;
        width: 285px;
        height: 345px;
    }
  }

  @media only screen and (max-width: 540px) {
    .ovale-anim {
        top:122px; 
        width: 254px;
        height: 324px;
    }
    .ovale-anim2 {
        top:122px;   
        width: 264px;
        height: 326px;
    }
  }
  body.dark h1{
    color:#F2B366;
  }