@font-face {
   font-family: 'Free';
   src: url('../../assets/Variable/Free-variable.ttf')  format('truetype');
    font-weight: 100 800; /* Gamme de graisses disponibles */
   font-stretch: 100 800; /* Gamme de largeurs disponibles */
   font-display: swap;
 }   

   
   //Colors

   $white:#FFFFFF;
   $black:#000000;
   $greydark:#333;
   $grey:#F6F6F6;
   $red:#F2594B;
   $degrade: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);

   /* Color Theme Swatches in Hex */
$Athena-AI-1-hex: #242426;
$Athena-AI-2-hex: #47A603;
$Athena-AI-3-hex: #F2B705;
$Athena-AI-4-hex: #F21F0C;
$Athena-AI-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$Athena-AI-1-rgba: rgba(35,36,38, 1);
$Athena-AI-2-rgba: rgba(70,165,3, 1);
$Athena-AI-3-rgba: rgba(242,182,4, 1);
$Athena-AI-4-rgba: rgba(242,31,12, 1);
$Athena-AI-5-rgba: rgba(242,242,242, 1);

/* Color Theme Swatches in Hex */
$Spicetest: #2b2b33;;
$Spices-1-hex: #F2B366;
$Spices-2-hex: #BF8563;
$Spices-3-hex: #260801;
$Spices-4-hex: #F2594B;
$GSpices-5-hex: #730202;
/* Color Theme Swatches in RGBA */
$Spices-1-rgba: rgba(242,179,101, 1);
$Spices-2-rgba: rgba(191,133,99, 1);
$Spices-3-rgba: rgba(38,7,0, 1);
$Spices-4-rgba: rgba(242,89,75, 1);
$Spices-5-rgba: rgba(114,2,2, 1);
