
@font-face {
  font-family: 'Movement';
  src: url('../../assets/Variable/Movement.ttf')  format('truetype');
  //  font-weight: 100 800; /* Gamme de graisses disponibles */
  // font-stretch: 100 800; /* Gamme de largeurs disponibles */
  font-weight: 100 900; /* Gamme de graisses disponibles movement */
  font-stretch: 100 120; /* Gamme de largeurs disponibles */
}
.nav-header {
  position:fixed;
  max-height: 67px;
  width: 100%;
  top:0;
  background: linear-gradient(to right, #242426, #000);
  box-shadow: rgba(38,7,0,0.3) 0px 15px 20px -8px;
  z-index: 3;
}
.nav-header-content {
  display: flex;
  width: 90%;
  max-width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;

}

.kasa-logo {
  width: 210px;
  cursor: pointer;
}

@media only screen and (max-width: 775px) {
  .kasa-logo {
    width: 145px;
  }
}

.navigation-menu ul {
  display: flex;
  list-style: none;
}

.navigation-menu a {
  font-family: "Movement";
  position: relative;
  color: #F2F2F2;
  text-decoration: none;
  font-size: 34px;
  margin: 30px;
  letter-spacing: 1px;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.6s ease;
  font-variation-settings: 'wght' 800, 'SPAC' 100; 
  cursor: pointer;
}
.navigation-menu a:hover  {
  transition: .7s;
  font-size: 36px;
  font-variation-settings: 'wght' 400, 'SPAC' 118; 
  cursor: pointer;

}
.navigation-menu a.active  {
  font-variation-settings: 'wght' 400, 'SPAC' 118;
  font-size: 36px;
    @media only screen and (max-width:775px){
      font-size: 12px;
  }
}


@media only screen and (max-width: 775px) {
  .navigation-menu a {
    font-size: 12px;
    margin: 6px;
  }
}

.navigation-menu a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #F2F2F2;
  transition: width 0.5s ease-out;
}

.navigation-menu a:hover::before {
  width: 100%;
}

.navigation-menu a.active::before {
  width: 100%;
}