.text-animation{
    font-size: 34px;
    text-align: left;
    position: relative;

    @media only screen and (max-width:940px){
      font-size: 21px;
    top:190px;
      
  }
  
    @media only screen and (max-width:775px){
        font-size: 17px;
      top:190px;
        
    }
}